{% extends "app/views/layouts/master.njk" %}

{% block content %}
  {#<div id="IG_App"></div>#}

  <h1>Login Page</h1>

  <div class="ig-error-unit">
    <h4 class="ig-error-unit__message">{{ message }}</h4>
  </div>

  <form class="IG_Form IG_Form--Login" method="post" action="/login">
    <input type="email" name="email" placeholder="Your Email Address" />
    <input type="password" name="password" placeholder="Your Password" />
    <button>Login</button>
  </form>
{% endblock %}
