.ig-logo {
  background: url('http://igluco.co/static/images/iGluco_White.png');
  background-image: url('http://igluco.co/static/images/iGluco_White.svg'), none;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50px;
  margin: 0 auto;
  max-width: 125px;
}
